body {
  background-image: url("../images/batman.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  font-weight:  normal;
}
h1{
  font-size: 30px;
  color: #FBFCFC ;
  /* font-weight: bold; */
  text-align: center;
}
.test{
  font-style: italic;
  font-size: 35px;
  color: #FBFCFC  ;
  font-weight: bold;
  text-align: right;
}
